!!!
html
  head
    block head

    block meta

    title= "Growth App"
    link(rel='stylesheet', href='app/styles/index.css')
    | <style>
    | body { padding-top: 60px; }
    | </style>

  body
    include header

    block content

    div.container
      div#main

    include footer