!!!
html
  head
    block head

    block meta

    title= "Growth App"

    //- Development and production
    link(rel='stylesheet', href='/app/styles/index.css')

    //- Production (I don't know why this doesn't work like source.js)
    //- link(rel='stylesheet', href='/dist/release/app/styles/index.css')

    | <style>
    | body { padding-top: 60px; }
    | </style>

  body
    include header

    block content

    div.container
      div#crucial

    include footer