<div class="row">
    <div class="span4 column1">
        <h2>Not Doing<span><i class="icon-plus" id="add-item-modal"></i></span></h2>
        <ul class="unstyled">
        </ul>
    </div><!-- /.column1 -->
    <div class="span4 column2">
        <h2>Doing</h2>
        <ul class="unstyled">
        </ul>
    </div><!-- /.column2 -->
    <div class="span4 column3">
        <h2>Done</h2>
        <ul class="unstyled">
        </ul>
    </div><!-- /.column3 -->
</div><!-- /.row -->

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Item</h3>
  </div>
  <div class="modal-body">
    <form>
        <input class="title span5" type="text" placeholder="Title">
        <textarea class="description span5" rows="3" placeholder="Description"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="add-item" class="btn btn-primary">Add Item</button>
  </div>
</div>