h1(style="text-align:center") Not Doing List
div.row
  div.span4
    div.box.column.notdoing
      div.box-header
        span.icon
          i.icon-file
        span.title Not Doing
        ul.box-toolbar
          li
            i#add-item-modal.icon-plus
      div.box-content.scrollable
        ul.items
  div.span4
    div.box
      div.box-header
        span.icon
          i.icon-file
        span.title Doing
        ul.box-toolbar
      div.box-content.scrollable
        ul.items
  div.span4
    div.box
      div.box-header
        span.icon
          i.icon-file
        span.title Done
        ul.box-toolbar
      div.box-content.scrollable
        ul.items


  //- div.span4.column.notdoing
  //-   h2 Not Doing
  //-     span
  //-       i#add-item-modal.icon-plus
  //-   ul.unstyled
  //- div.span4.column.doing
  //-   h2 Doing
  //-   ul.unstyled
  //- div.span4.column.done
  //-   h2 Done
  //-   ul.unstyled

//- Add Modal
div#add-modal.modal.hide.fade(tabindex="-1", role="dialog",
              aria-labelledby="add-modal-label", aria-hidden="true")
  div.modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") x
    h3#add-modal-label Add Item
  div.modal-body
    div.text-error.hidden
    form
      input.title.span5(type="text", placeholder="Title")
      input.goal.span5(type="text", placeholder="Goal")
      div.btn-toolbar(data-role="editor-toolbar", data-target="#editor")
        div.btn-group
          a.btn(data-edit="bold") <i class="icon-bold"></i>
          a.btn(data-edit="italic") <i class="icon-italic"></i>
          a.btn(data-edit="underline") <i class="icon-underline"></i>
        div.btn-group
          a.btn(data-edit="insertunorderedlist", data-original-title="Bullet list") <i class="icon-list-ul"></i>
          a.btn(data-edit="insertorderedlist") <i class="icon-list-ol"></i>
          a.btn(data-edit="indent") <i class="icon-indent-right"></i>
          a.btn(data-edit="outdent") <i class="icon-indent-left"></i>
        div.btn-group
          a.btn(data-edit="justifyleft") <i class="icon-align-left"></i>
          a.btn(data-edit="justifycenter") <i class="icon-align-center"></i>
          a.btn(data-edit="justifyright") <i class="icon-align-right"></i>
          a.btn(data-edit="justifyfull") <i class="icon-align-justify"></i>
      div.editor.description
  div.modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Close
    button#add-item.btn.btn-primary Add Item

//- Edit Modal
div#edit-modal.modal.hide.fade(tabindex="-1", role="dialog",
              aria-labelledby="edit-modal-label", aria-hidden="true")
  div.modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") x
    h3#edit-modal-label Edit Item
  div.modal-body
    div.text-error.hidden
    form
      input.title.span5(type="text", placeholder="Title")
      input.goal.span5(type="text", placeholder="Goal")
      div.btn-toolbar(data-role="editor-toolbar", data-target="#editor")
        div.btn-group
          a.btn(data-edit="bold") <i class="icon-bold"></i>
          a.btn(data-edit="italic") <i class="icon-italic"></i>
          a.btn(data-edit="underline") <i class="icon-underline"></i>
        div.btn-group
          a.btn(data-edit="insertunorderedlist", data-original-title="Bullet list") <i class="icon-list-ul"></i>
          a.btn(data-edit="insertorderedlist") <i class="icon-list-ol"></i>
          a.btn(data-edit="indent") <i class="icon-indent-right"></i>
          a.btn(data-edit="outdent") <i class="icon-indent-left"></i>
        div.btn-group
          a.btn(data-edit="justifyleft") <i class="icon-align-left"></i>
          a.btn(data-edit="justifycenter") <i class="icon-align-center"></i>
          a.btn(data-edit="justifyright") <i class="icon-align-right"></i>
          a.btn(data-edit="justifyfull") <i class="icon-align-justify"></i>
      div.editor.description
  div.modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Close
    button.move-item.btn.btn-success Move Item
    button#delete-item.btn.btn-danger Delete Item
    button#save-item.btn.btn-primary Save Item
