
.item {
  /*border: 1px solid black;*/
  margin: 3px 0 3px 3px;
  display: inline-block;

  .title {
    display: inline;
    position: relative;
    background: #eeeeee;
    border: 2px solid black;
    border-radius: 4px 0 0 4px;
    padding: 0.4em;
    cursor: move;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
}

  .edit-item{
    display: inline;
    position: relative;
    line-height: 23px;
    border: 2px solid black;
    border-radius: 0 0 0 0;
    margin-left: -2px;
    margin-right: -4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
  }

  .delete-item {
  	@extend .edit-item;
  	border-radius: 0 4px 4px 0;
  }
}

h2 {
    text-align: center;
}

#add-item-modal {
    cursor: pointer;
}

#add-modal,
#edit-modal {
	input.title,
	textarea.description {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}

  .text-error {
    margin-left: 2em;
  }
}
